<!-- 
	Created by Tiantong Li
	Uni id: 1037952
	Email address is tiantongl1@student.unimelb.edu.au 
-->
{% extends "layout.html" %} <!-- th page extends layout.html-->
{% block content %}<!-- Unique part in the page compared with layout.html  -->
Aurin Data Analysis
{% endblock content%}

{% block image %}<!-- Unique part in the page compared with layout.html  -->
{{url1}}
{% endblock image%}

{% block extra %}<!-- Unique part in the page compared with layout.html  -->
    <div class = "test2" style="padding-top: 20px;">
	<h2 class="text-center">Aurin Data Analysis</h2>
	<img class = "image" src="{{url2}}" alt="description" style="width: 80%;border: 1px solid #ddd;border-radius: 4px;padding: 5px;display: block;margin-left: auto;margin-right: auto; ">
	</div>
{% endblock %}