<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename='style.css') }}" />
</head>
<body>
	<div class="jumbotron jumbotron-billboard">
		<div class="img"></div>
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12">
	              <h2>COMP 90024 Assignment 2</h2>
	                <p>Group 57 members: </p>
	                <p style="text-indent: 50px;">Guoen Jin, Haikuan Liu, Hanchen Qi, Tiantong Li, Yixin Su</p>
					<p>Project description: </p>
	                <p style="text-indent: 50px;">The team chooses four cities (Sydney, Melbourne, Adelaide and Brisbane) 
					as regions to scrawl twitters. The topic is food.</p>
	            </div>
	        </div>
	    </div>
	</div>

	<div class="container">

	    <div class="row">
	        <div class="col-lg-12">
	            <h2>Twitter Post Number in 4 area</h2>
	            <p>Description: The task shows the total number of scrawled twitter in 4 areas</p>
	            <p>
	            	<a class="btn btn-default" target="_blank" href="/twitter" role="button">Click and see the result &raquo;</a>
	            </p>

		    <hr>

		    	<h2>Task 2</h2>
	            <p>Description: hahhahahahahhahahahhahahahahahahahahhahahahhahahahahhahahahhahahahahahahahahhahahahhahahahahhahahahhahahahahahahahahhaha</p>
	            <p>
	            	<a class="btn btn-default" target="_blank" href="http://127.0.0.1:5000/about" role="button">Click and see analysis result &raquo;</a>
	            </p>

		    <hr>

	            <h2>Task 3</h2>
	            <p>Description: hahhahahahahhahahahhahahahahahahahahhahahahhahahahahhahahahhahahahahahahahahhahahahhahahahahhahahahhahahahahahahahahhaha</p>
	            <p>
	            	<a class="btn btn-default" target="_blank" href="http://127.0.0.1:5000/about" role="button">Click and see analysis result &raquo;</a>
	            </p>

	        </div>
	    </div>

	    <hr>

	    <footer>
	        <p>&copy; 2019 Tiantong Li</p>
	    </footer>
	</div> <!-- /container -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

